@import "../../styles/variables";

.main-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding: 2rem;

  &__search {
    height: 15vh;
  }
  &__users-list{
    //height: 68vh;
    //overflow: auto;
  }

  .thumbnail {
    border-radius: 24px;
    width: 48px;
    height: 48px;
  }
}
