@import "../../../styles/variables";

.header {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin: 0;
  list-style: none;

  &__item {
    a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }
    a:hover {
      background-color: #ddd;
      color: black;
    }

    a.active {
      background-color: #666;
      color: white;
    }

    @media screen and (max-width: 400px) {
       a {
        float: none;
        width: 100%;
      }
    }

  }
}

@media screen and (max-width: 400px) {
  .header a {
    float: none;
    width: 100%;
  }
}
